body{
  
    font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      background-color: #fff;
      color: #243a6f;
      position: relative;
      z-index: 1;
  }
  :root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
  }
  .nav {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    z-index: 999;
    padding: 1.6rem 0;
    margin-bottom: auto;
  }
  nav {
    display: block;
  }
  .nav.fix-nav {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
.nav.fix-nav .nav-link,
.nav.fix-nav .logo
.nav.fix-nav .cart-icon
.nav.fix-nav .hamburger {
  color: #fff;
}
.nav-link{
  color: #fff
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}
li{
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}
a{
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      max-width: 40rem;
      height: 100%;
      background-color: #fff;
      transition: all 500ms ease-in-out;
      z-index: 100;
    }
   
  .menu.show {
    left: 0;
  }
  
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    color: white;
    padding: 1rem 1.6rem;
  }
  
  .top-nav .logo {
    color: #fff;
  }
  
  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  
  .cart-icon {
    display: block;
    font-size: 3rem;
  }
  
  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  
  .nav.fix-nav .nav-link {
    color: #243a6f;
  }
  
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .nav-link.icon {
    display: none;
  }
  }

  

body{
  
    font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      background-color: #fff;
      color: #243a6f;
      position: relative;
      z-index: 1;
  }
  :root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
  }
  .nav {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    z-index: 999;
    padding: 1.6rem 0;
    margin-bottom: auto;
  }
  nav {
    display: block;
  }
  .nav.fix-nav {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
.nav.fix-nav .nav-link,
.nav.fix-nav .logo
.nav.fix-nav .cart-icon
.nav.fix-nav .hamburger {
  color: #fff;
}
.nav-link{
  color: #fff
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}
li{
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}
a{
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      max-width: 40rem;
      height: 100%;
      background-color: #fff;
      transition: all 500ms ease-in-out;
      z-index: 100;
    }
   
  .menu.show {
    left: 0;
  }
  
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    color: white;
    padding: 1rem 1.6rem;
  }
  
  .top-nav .logo {
    color: #fff;
  }
  
  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  
  .cart-icon {
    display: block;
    font-size: 3rem;
  }
  
  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  
  .nav.fix-nav .nav-link {
    color: #243a6f;
  }
  
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .nav-link.icon {
    display: none;
  }
  }
  /* footer */
  .footer {
    background-color: var(--black);
    padding: 6rem 1rem;
    line-height: 3rem;
  }
  
  .footer-center span {
    margin-right: 1rem;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
  }
  
  .footer-center a:hover {
    color: var(--pink);
  }
  
  .footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
  }
  
  .footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
  
  /* All Products */
  .section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  
  .all-products .top select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  form {
    position: relative;
    z-index: 1;
  }
  
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .all-products .top select {
      width: 15rem;
    }
  }
  
  /* Pagination */
  .pagination {
    padding: 3rem 0 5rem 0;
  }
  
  .pagination span {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid #243a6f;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .pagination span:hover {
    border: 1px solid #243a6f;
    background-color: #243a6f;
    color: #fff;
  }

  

