.train{
    color: red;

}
h2{
    background-color: orange;
}
h3{
    border: 5px solid green;
}
h4{
    border: 1rem solid green;
}
h5{
    border: 1em solid green;
}
.section p{
    border: 5px solid green;
}


